
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    position: relative;
}

.insidecontainer{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 70%;
    /* background-color: rgb(158, 155, 155); */
}
.insidecontainer p{
    text-align: end;
}
.registerdata{
    display: flex;
    gap: 3rem;
    margin-top: 4px;
}
.registerdata:nth-child(0){
    width: 50%;
}
.insidecontainer h1{
font-size: 35px;
font-weight: 450;
}
.registervalue{
    margin-top: 34px;
}
.fee{
    margin-top: 34px;
}
.fee h3{
    margin-top: 20px;
    font-weight: 550;

}
.registervalue p{
    text-align: unset;
}
@media only screen and (max-width: 900px) {
    .insidecontainer{
      
      width:95%;
    }
    .insidecontainer p{
        font-size: .8rem;
       
      }
  }
  @media only screen and (max-width: 1008px) {

    .insidecontainer{
      
        width:75%;
      }

  }
  @media only screen and (max-width: 650px) {
    .insidecontainer{
      
      width:95%;
    }
    .insidecontainer p{
        font-size: .7rem;
        width:95%;
      }
      .insidecontainer h1{
        width: 100%;
        text-align: center;
        margin: auto;
        font-size: 1.4rem;
      }




  }