table,tr,td{
    border: 2px solid black;
    padding: 8px;    
}

.linearGradient{
    background: linear-gradient(to right, #4464a0c3, #aec2e4a2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
